<div class="col-sm-4">
  <h4 class="well"><a href="community">community</a></h4>
  <ul class="col-sm-5">
    <li><a href="#">activities</a> </li>
    <li><a href="#">artists</a> </li>
    <li><a href="#">childcare</a> </li>
    <li><a href="#">classes</a> </li>
    <li><a href="#">events</a> </li>
    <li><a href="#">general</a> </li>
    <li><a href="#">groups</a> </li>
  </ul>
  <ul class="col-sm-7">
    <li><a href="#">local news</a> </li>
    <li><a href="#">lost+found</a> </li>
    <li><a href="#">musicians</a> </li>
    <li><a href="#">pets</a> </li>
    <li><a href="#">politics</a> </li>
    <li><a href="#">rideshare</a> </li>
    <li><a href="#">volunteers</a> </li>
  </ul>
</div>
<div class="col-sm-5">
  <h4 class="well"><a href="housing">housing</a></h4>
</div>
<div class="col-sm-3">
  <h4 class="well"><a href="jobs">jobs</a></h4>
</div>

<div class="col-sm-4">
  <h4 class="well"><a href="personals">personals</a></h4>
</div>
<div class="col-sm-5">
  <h4 class="well"><a href="for-sale">for sale</a></h4>
</div>
<div class="col-sm-3">
  <h4 class="well"><a href="gigs">gigs</a></h4>
</div>
<div class="col-sm-4">
  <h4 class="well"><a href="discussion-forums">discussion forums</a></h4>
</div>
<div class="col-sm-5">
  <h4 class="well"><a href="services">services</a></h4>
</div>
<div class="col-sm-3">
  <h4 class="well"><a href="resumes">resumes</a></h4>
</div>
