<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><p>©  craigslist</p></li>
      <li><a href="help">help</a></li>
      <li><a href="safety">safety</a></li>
      <li><a href="privacy">privacy</a></li>
      <li><a href="feedback">feedback</a></li>
      <li><a href="cl-jobs">cl jobs</a></li>
      <li><a href="terms">terms</a></li>
      <li><a href="about">about</a></li>
      <li><a href="#">mobile</a></li>
    </ul>

  </div>
</footer>
